<!DOCTYPE html>
<html>
  <head>
    <title>Bandstand</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <% if current_band %>
      <script>
        window.currentBand= {
          'id': <%= current_band.id %>,
          'username': '<%= current_band.username %>',
          'email': '<%= current_band.email %>',
          'band_name': '<%= current_band.band_name %>',
        }
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
